@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'SolaimanLipiNormal';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/solaimanlipi.woff') format('woff');
    }



@layer components{
    .menu-btn{
        @apply bg-white hover:bg-gray-100 text-tColor font-medium px-6 py-2 rounded-3xl;
    }

    .menu-icons{
        @apply rounded-[50%] hover:bg-gray-100 px-4 py-3;
    }

    .slider-arrow{
        @apply border-2 border-gray-300 rounded-[50%] py-[12px] px-[13px];
    }

    .primary-btn{
        @apply bg-tertiaryColor hover:bg-secondaryColor duration-75 text-white px-5 py-3 rounded;
    }

    .secondary-btn{
        @apply bg-gradient-to-b from-primaryColor to-primaryColorShade duration-75 text-white font-semibold  px-5 py-2 rounded;
    }

    .tertiary-btn{
        @apply border-[1px] border-primaryColor duration-75 gradient-text font-semibold px-5 py-1 rounded-3xl;
    }

    .profile-table th{
        @apply text-left bg-[#ECECEC] text-xs text-tColor2 font-semibold border-b p-3;
    }

    .profile-table td{
        @apply text-left border-b-2 p-3;
    }

    .profile-table tbody tr:last-child td{
        @apply border-b-0;
    }


    .order-details th{
        @apply text-start font-semibold text-tColor border-b-2 pb-3;
    }

    .order-details td{
        @apply font-semibold border-b-2 py-3;
    }

    .menu-list{
        @apply text-sm text-tColor font-semibold rounded;
    }

    .menu-list:hover,
    .menu-list-active
    {
        @apply text-primaryColor font-bold;
    }

    .gradient-color{
        @apply bg-gradient-to-b from-primaryColor to-primaryColorShade
    }

    .gradient-text{
        @apply text-transparent font-bold bg-clip-text gradient-color
    }

    .menu-collapse>li:hover
    {
        @apply text-primaryColor font-semibold;
    }

    .menu-collapse{
        @apply text-sm grid gap-2 min-w-[155px] pl-10 pt-2 list-disc rounded-xl;
    }

    .tab{
        @apply text-secondaryColor py-3 xl:py-5 px-5 xl:px-10 flex items-center gap-2 justify-center fill-secondaryColor font-medium text-sm xl:text-base;
    }

    .bloodtab{
        @apply text-secondaryColor py-3 xl:py-5 px-5 xl:px-10 flex items-center gap-2 justify-center fill-secondaryColor font-medium text-sm xl:text-base;
    }

    .medicinetab{
        @apply text-secondaryColor py-3 xl:py-5 px-5 xl:px-10 flex items-center gap-2 justify-center fill-secondaryColor font-medium text-sm xl:text-base;
    }

    .hospitaltab{
        @apply text-secondaryColor py-3 xl:py-5 px-5 xl:px-10 flex items-center gap-2 justify-center fill-secondaryColor font-medium text-sm xl:text-base;
    }

    .ambulancetab{
        @apply text-secondaryColor py-3 xl:py-5 px-5 xl:px-10 flex items-center gap-2 justify-center fill-secondaryColor font-medium text-sm xl:text-base;
    }


    .tab-active{
        @apply bg-primaryColor fill-white text-white rounded-t;
    }

    .tab-active2{
        @apply bg-secondaryColor fill-white text-white rounded-t;
    }
    

}
